* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #112B3E;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}





.nav__flex  {
    border-right: solid 1px #dfdfdf;
    border-left: solid 1px #dfdfdf;
}






body {
    max-width: 1200px;
    background-color: #eeeeee;
    margin: 0 auto;
}
 
.site__container {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        height: 1000px; /*****************************THIS IS NOT STAYING*********
    **********************************************
**************************************************************
********************************************************************************/
        background-color: #fff;
/********************************************************************************************************************************************************************************************************************SAME**************************/
    
}



.nav__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1.2em 10%;
    flex-flow: column wrap;
}

.navigation__items {
    list-style-type: none;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
}

.navigation__items a {
    text-decoration: none;
    display: block;
    margin: 0 .7em;
    font-size: 15px;
    font-weight: 400;
    transition: .35s;
    font-weight: 400;
    padding: .7em 0;
    position: relative;
}



.logo {
    border: groove 13px #FF6E5E;
    width: 32px;
    border-radius: 0px;
    box-shadow: 1px -2px 6px rgba(0,0,0, 0.5);
    transform: rotate(-225deg);
    height: 32px;
    margin: 8px auto;
}

.logo__container h6 {
    margin: -4px 0px 10px 0px;
    font-size: 32px;
    font-weight: 300;
    font-family: 'yellowtail', cursive;
}

header {
  position: relative;
  padding: 7em 0;
  overflow: hidden;
  background: url(../../assets/images/test.jpg) center center no-repeat;
}

h1 {
  font-size: 36px;
  text-align: center;
}

header h1 {
  position: relative;
  color: white;
  max-width: 80%;
  margin: 0 auto;
}

button {
    font-weight: 400;
    display: inline-block;
    margin: 0 10px;
    text-align: center;
    background-color: #FF6E5E;
    padding: 0 .6em;
    height: 62px;
    transition: .35s;
    cursor: pointer;
    font-size: 16px;
    font-family: 'montserrat', sans-serif;
    border-top: none;
    border-left: none;
    border-right: solid 2px #af3a2a;
    border-bottom: solid 2px #af3a2a;
}

button a {
    color: #ffffff;
    line-height: 62px;
    padding: 0px 5px;
    font-weight: 400;
    text-decoration: none;
}

button:hover, button:active {
    transform: translateY(1px);
    background-color: #ff8176;
    border-color: #ff8176;

}

.button__container {
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
}




